# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.manifest
/ConsoleApplication1/ConsoleApplication1/bin/Debug
/ConsoleApplication1/ConsoleApplication1/obj/Debug

**/bin
**/obj
